@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.container {
  max-width: 920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.title-h5 {
  display: inline-block;
  width: 200px;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.home {
  min-height: 700px;
  position: relative;
}

.home__video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.home::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #5b4925 0%, rgba(0, 0, 0, 0.4) 100%);
}

.home__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
/* ./home */

.header {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}
.nav-link {
  text-decoration: none;
  color: #ffbe5d;
  margin-left: 24px;
  font-size: 18px;
  line-height: 150%;
}
.nav-link.active {
  font-weight: 700;
}

.mobile-catalog {
  display: none;
}
/* ./header */

.hero {
  padding: 70px 0;
  display: flex;
  align-items: center;
  position: relative;
}

.header-photo {
  width: 212px;
  height: 237px;
  border-radius: 60px;
}

.header .header-photo {
  vertical-align: bottom;
  transition: all 0.3s;
}

.header-photo:hover {
  transform: scale(1.2);
}

.header-text {
  margin-left: 70px;
}
.header-strong {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  color: #fff;
}
.header-heading {
  margin-top: 8px;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: -0.02em;
  color: #fff;
}

.header-primari {
  color: #ffbe5d;
}

.header-heading__name {
  font-size: 28px;
}

.social-list {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.social-link {
  display: inline-block;
  padding: 8px;
}

.header-links {
  display: flex;
  align-items: center;
}
.cv-download {
  padding: 7px 8px;
  margin-left: 55px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
  border-bottom: 2px solid #ffbe5d;
}

.cv-icon {
  margin-right: 4px;
}

.section-heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #bf7506;
  text-align: center;
}
/* ./hero */

.portfolio__swiper {
  width: 100%;
  min-height: 500px;
  position: relative;
}
.slide-swiper__img {
  width: 100%;
  height: auto;
  background-size: cover;
}

.slide-swiper__text {
  margin-bottom: 15px;
}

.portfolio__swiper .swiper-button-next,
.portfolio__swiper .swiper-button-prev {
  color: #bf7506;
}
.portfolio__swiper .swiper-button-next {
  right: 80px;
}

.portfolio__swiper .swiper-button-prev {
  left: 60px;
}

.project-list {
  padding: 0;
  margin-left: 40px;
}

.projects-item {
  font-size: 20px;
  line-height: 1.7;
  color: #000000;
  margin-bottom: 20px;
}

.project-link {
  font-size: 20px;
  line-height: 1.7;
  color: #1e7474;
  margin-left: 20px;
  text-decoration: none;
}

.project-link__dots {
  display: inline-flex;
  max-width: 175px;
  overflow: hidden;
  margin-right: 15px;
}

.project-link:hover,
.project-link:visited {
  color: #595959;
}

.project-bracket {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.7;
  color: #000000;
}

.slide-swiper__card-text-wrapper {
  margin: 0 auto;
  text-align: center;
}
.slide-swiper__card-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: -0.02em;
  color: #bf7506;
}
.slide-swiper__card-text {
  max-width: 700px;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #211b12;
  margin: 0 auto;
}

.tags {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.slide-swiper__card-text-wrapper .tags {
  justify-content: center;
}

.tag {
  padding: 4px 8px;
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #211b12;
  text-decoration: none;
  background: #ffffff;
  border: 1px solid #dd9c3c;
  border-radius: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
}

.slide-swiper__card-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons-swiper-slide__button {
  display: flex;
  align-items: center;
  padding: 7px 8px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #211b12;
  border-bottom: 2px solid #bf7506;
  margin-right: 25px;
}
.buttons-swiper-slide__button-icon {
  margin-right: 4px;
}
/* ./projets */

.developer {
  padding: 80px 0 20px;
  display: flex;
  align-items: center;
}

.developer-photo {
  width: 360px;
  height: 440px;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 20px;
}

.developer-about {
  margin-left: 80px;
}

.developer-hello {
  font-weight: 700;
  font-size: 28px;
  line-height: 135%;
  letter-spacing: -0.02em;
  color: #211b12;
}

.developer-title {
  margin-top: 4px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #bf7506;
}
.developer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #211b12;
}
.motto {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #dd9c3c;
  margin: 16px 0;
}
.signature {
  max-width: 200px;
}
.skills {
  padding: 20px 0;
}
.skills-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: -0.02em;
  color: #211b12;
}
/* ./developer */

.feedback {
  padding: 80px 0 90px;
  position: relative;
}

.input-groop {
  margin-bottom: 24px;
  position: relative;
  padding-top: 9px;
}
.input-label {
  position: absolute;
  padding: 0 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #83807c;
  background-color: #ffffff;
  top: 0;
  left: 16px;
}
.input {
  width: 100%;
  height: 56px;
  border: 3px solid #e0dedc;
  border-radius: 4px;
}
.textarea {
  min-height: 140px;
  padding-top: 10px;
}

.form-container {
  max-width: 435px;
  margin: auto;
  position: relative;
}

.form-container::after {
  content: "";
  position: absolute;
  bottom: -80px;
  right: -360px;
  width: 80%;
  height: 90%;
  background: url("../img/hand.png") center / cover no-repeat;
}

.submit-button {
  padding: 7px 8px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #211b12;
  border: none;
  border-bottom: 2px solid #bf7506;
  background-color: #fff;
  cursor: pointer;
}

.button-group {
  display: flex;
  justify-content: flex-end;
}
/* ./feedback */

.footer{
  padding: 25px 0 50px;
}

.footer>.container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.footer__right a{
  text-decoration: none;
  color: inherit;
}
.footer__right a:hover{
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}
/* ./footer */

/* Media */
@media (max-width: 1024px) {
  .container {
    max-width: 860px;
  }
  .card {
    max-width: 350px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
  .nav-link {
    font-size: 16px;
  }
  .header-photo:hover {
    transform: scale(1);
  }
  .social-list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .projects-item {
    font-size: 18px;
  }
  .project-link__dots {
    max-width: 50px;
  }
  .project-link {
    font-size: 18px;
    margin-left: 10px;
  }
  .developer-photo {
    width: 300px;
  }
  .form-container {
    margin-left: 60px;
  }
  .form-container::after {
    bottom: -20px;
    right: -290px;
    width: 62%;
    height: 70%;
  }
}

@media (max-width: 798px) {
  .container {
    max-width: 576px;
  }
  .navigation {
    display: none;
  }
  .mobile-catalog {
    display: block;
  }
  .catalog__menu {
    display: flex;
    flex-direction: column;
  }
  .mobile-menu-catalog__list {
    display: none;
  }
  .mobile-menu-catalog__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  }
  .mobile-menu-catalog__burger {
    display: inline-block;
    overflow: hidden;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    z-index: 5;
  }
  .mobile-menu-catalog__line,
  .mobile-menu-catalog__line::after,
  .mobile-menu-catalog__line::before {
    height: 4px;
    width: 100%;
    position: absolute;
    top: 46%;
    right: 0;
    background-color: #bf7506;
    transition: background 0s 0.3s;
  }
  .mobile-menu-catalog__line::after,
  .mobile-menu-catalog__line::before {
    content: "";
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
  }
  .mobile-menu-catalog__line::after {
    top: 12px;
  }
  .mobile-menu-catalog__line::before {
    top: -12px;
  }
  .mobile-menu-catalog__list {
    width: 55%;
    height: 100%;
    position: fixed;
    left: -100%;
    padding: 10px 10px 0 40px;
    font-size: 36px;
    letter-spacing: 2px;
    overflow-y: auto;
    background: rgba(240, 240, 255, 0.9);
    z-index: 2;
  }
  .mobile-menu-catalog__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
  }

  .mobile-menu-catalog .mobile-menu-catalog__link {
    display: flex;
    align-items: center;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: #bf7506;
    margin-bottom: 20px;
  }
  .mobile-menu-catalog_active .mobile-menu-catalog__line {
    background: transparent;
  }

  .mobile-menu-catalog_active .mobile-menu-catalog__line::after {
    top: 0;
    transform: rotate(45deg);
  }
  .mobile-menu-catalog_active .mobile-menu-catalog__line::before {
    top: 0;
    transform: rotate(-45deg);
  }
  .mobile-menu-catalog_active .mobile-menu-catalog__list {
    display: block;
    left: 0;
    top: 50px;
    list-style: none;
  }
  .mobile-menu-catalog_active .mobile-menu-catalog__overlay {
    display: block;
    z-index: 1;
  }
  .material-icons {
    font-size: 20px;
    margin-right: 5px;
  }
  .divider {
    border: none;
    width: 98%;
    height: 2px;
    border-bottom: 1px dashed #211b12;
    margin-top: 7px;
    margin-bottom: 5px;
  }
  .nav-link {
    margin-left: 0;
    font-size: 22px;
  }
  .title-h5 {
    width: 180px;
    font-size: 18px;
  }
  .hero {
    flex-direction: column;
    padding-top: 50px;
  }
   .header-photo {
    margin-bottom: 25px;
  }
  .header-text{
    text-align: center;
  }
  .header-strong {
    font-size: 36px;
  }
  .header-heading {
    font-size: 18px;
  }
  .cv-download {
    margin-left: 15px;
  }
  .projects-item {
    font-size: 14px;
  }
  .project-link {
    margin-left: 2px;
  }
  .project-link__dots {
    width: 30px;
    margin-right: 2px;
  }
  .project-bracket {
    font-size: 14px;
  }
  .card {
    max-width: 45%;
  }
  .card-text-wrapper {
    padding: 8px 0;
  }
  .developer {
    flex-direction: column;
    padding-top: 20px;
  }
  .developer-photo {
    width: 400px;
    margin-bottom: 30px;
  }
  .developer-about {
    margin-left: 0;
    padding-left: 20px;
  }
  .signature {
    display: block;
    margin: 0 auto;
  }
  .form-container {
    margin: auto;
  }
  .form-container::after {
    display: none;
  }
  .header-text {
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 90%;
  }

  .header {
    padding-top: 30px;
    text-align: center;
  }
  .header-links,
  .cards,
  .navbar {
    flex-direction: column;
  }
  .cv-download {
    margin-left: 0;
  }
  .cards {
    align-items: center;
  }
  .card {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .home {
    min-height: 850px;
  }
  .developer-photo {
    height: 340px;
  }
  .form-container {
    width: 90%;
  }
  .portfolio {
    position: relative;
    z-index: 15;
  }
  .portfolio__swiper-btn_prev.swiper-button-prev::after,
  .portfolio__swiper-btn_next.swiper-button-next::after {
    display: none;
  }
  .portfolio__swiper-btn_prev.swiper-button-prev,
  .portfolio__swiper-btn_next.swiper-button-next {
    position: absolute;
    top: 48%;
    height: 20px;
    width: 15px;
    display: flex;
    align-items: center;
    background: url("../img/icons/arrow.svg") no-repeat;
    outline: none;
    z-index: 15;
  }
  .portfolio__swiper-btn_next.swiper-button-next {
    right: 0px;
    z-index: 25;
  }
  .portfolio__swiper-btn_prev.swiper-button-prev {
    transform: rotate(-180deg);
    left: 0px;
  }
  .slide-swiper__card-title {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .cards {
    align-items: center;
  }
  .nav-item {
    font-weight: 700;
    margin-bottom: 20px;
  }
  .nav-link {
    font-size: 18px;
}
  .project-link__dots {
    display: none;
  }
  .project-bracket {
    display: none;
  }
  .project-text {
    display: block;
  }
  .developer-photo {
    width: 250px;
    object-fit: contain;
  }
  .mobile-menu-catalog__list {
    width: 100%;
    padding-left: 10px;
    font-size: 24px;
  }
  .social-list {
    width: 220px;
  }
  .footer__right{
    margin-top: 15px;
  }
}
